@media (min-width: 768px) {
    header {
      padding-bottom: 234px;
    }
    
    nav {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
      padding: 18px 50px 110px;
      width: 670px;
      margin: 0 auto 26px;
      box-sizing: border-box;
    }
    
    .log,
    .logo {
      margin: 0;
    }

    .title {
      font-size: 52px;
      width: 520px;
      margin-bottom: 24px;
    }

    .sub-title {
      font-size: 24px;
      width: 404px;
      margin-bottom: 32px;
    }

    .find {
      width: 226px;
    }

    .title-partner {
      width: 100%;
      margin-bottom: 30px;
    }

    .partner-list {
      max-width: 492px;
      margin: 0 auto 28px;
    }

    .cart {
      margin-bottom: 56px;
      max-width: 222px;
    }

    .see {
      width: 194px;
    }
  }
  
  @media (min-width: 992px) {
    
    nav {
      width: 940px;
      margin: 0 auto;
      padding: 18px 0 130px;
    }
    
    .partner-list {
      max-width: 940px;
    }
    .cart {
      margin: 0;
    }
  }