@media (min-width:768px) 

{
    .conteiner {
        max-width: 660px;
        width: 100%;
        margin: 0 auto;
    }

    .slide {
        min-height: 700px;
    }
    
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0 20px;
        color: #fff;
        background-position:center;    
    }

    .nav-item {
        margin: 0;
    }

    .navigation {
        margin-bottom: 120px;
    }

    h1 {
        font-size: 52px;
        margin-bottom: 20px;
    }

    .sub-title {
        break-after: none;
        font-size: 26px;
        letter-spacing: -0.025em;
        margin-bottom: 32px;
    }

    button {
        padding: 12px 26px;
        font-size: 14px;
    }

    h2 {
        letter-spacing: -0.02em;
        margin-bottom: 20px;
    }

    .partner {
        flex-wrap: wrap;
        max-width: 480px;
        min-height: 500px;
        justify-content: space-between;
        align-content: space-between;
        margin-bottom: 38px;
    }

    .cart {
        max-width: 220px;
        padding: 0;
    }

    .two {
        order: 3;
    }

    .three {
        order: 2;
    }
}

@media (min-width:940px) 
{
    .conteiner {
        min-width: 940px;
        width: 100%;
        margin: 0 auto;
    }

    .slide {
        min-height: 700px;
    }

    .navigation {
        margin-bottom: 120px;
    }

    h1 {
        font-size: 52px;
        margin-bottom: 20px;
    }

    .sub-title {
        break-after: none;
        font-size: 26px;
        letter-spacing: -0.025em;
        margin-bottom: 32px;
    }

    button {
        padding: 12px 26px;
        font-size: 14px;
    }

    h2 {
        letter-spacing: -0.02em;
        margin-bottom: 20px;
    }

    .partner {
        min-height: 300px;
        flex-wrap: nowrap;
        margin-bottom: 36px;
    }


    .cart {
        max-width: 250px;
        max-height: 250px;
        margin: 0 10px;
        padding: 0;
    }

}


