*{margin: 0;
padding: 0;
box-sizing: border-box;
}

.conteiner {
    width: 900px;
    margin: 0 auto;
    font-family: "Playfair Display";
    color: rgb( 98, 98, 98 );
    font-weight: normal;

}

ul {
    widows: 900px;
    margin: 0 auto;
    padding: 0;
}
li {
    display: inline-block;
    width: 154px;
    text-align: center;
    /* margin-right: 14px; */
    font-size: 0;
}
li:last-child {
    margin-right: 0;
}

a {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.02em;
}

ul li:not(:last-child) {
    margin-right: 10px;
}

a:hover, a:focus {
    color: rgb(37, 180, 245);
}
ul:hover {
    color: rgb(37, 180, 245);
}

.site-navigation {
    text-transform: uppercase;
    text-align: center;
    padding: 72px 10px 98px;
}

.row {
    display: inline-block;
    width: 420px;
    vertical-align: top;
    margin-right: 56px;
}
.row:last-child {
    margin-right: 0;
}


img {
    widows: 420px;
    height: 280px;
    margin-bottom: 26px;
}
.block {
    margin-bottom: 128px;
    vertical-align: top;
}

.block:last-of-type {
    margin-bottom: 52px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: -0.07em;
    color:rgb( 98, 98, 98 );
    margin-bottom: 18px;
    font-weight: normal;
}

h2 {
    font-size: 30px;
    margin-bottom: 26px;
    color: rgb( 98, 98, 98 );
    font-weight: normal;
    text-align: justify;
    letter-spacing: 0.01em;
}

p {
    line-height: 24px;
    font-size: 14px;
    color: rgb( 98, 98, 98 );
    letter-spacing: -0.02em;
    text-align: justify;
}

.button {
    text-align: center;
    color: rgb( 98, 98, 98 );
    padding-bottom: 70px;
}
  
button {
    width: 162px;
    border: 1px solid #626262;
    background: inherit;
    font-size: 20px;
    color: rgb( 98, 98, 98 );
    padding: 17px 0;
    text-align: center;
}
