*{margin: 0;
padding: 0;
box-sizing: border-box;
}

.conteiner {
    width: 900px;
    margin: 0 auto;
    font-size: 0px;
}

ul li {
    display: inline-block;
}

a {
    font-size: 14px;
    color: rgb( 98, 98, 98 );
    text-transform: uppercase;
    line-height: 1.714;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.015em;
}

ul li:not(:last-child) {
    margin-right: 104px;
}

a:hover, a:focus {
    color: rgb(37, 180, 245);
}

.site-navigation {
    text-transform: uppercase;
    text-align: center;
    padding: 72px 0 96px 0;
}

.row {
    display: inline-block;
    width: 420px;
    vertical-align: top;
    margin-right: 60px;
    margin-bottom: 128px;
}

.row:nth-last-child(2n+1) {
    margin-right: 0px;
}

span {
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    line-height: 70px;
    font-size: 14px;
    letter-spacing: -0.06em;
    color:rgb( 98, 98, 98 );
}

h2 {
    line-height: 26px;
    font-size: 30px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
    color: #626262;

}

p {
    font-size: 14px;
    color: #626262;
    line-height: 26px;
    letter-spacing: 0.015em;
}

.button {
    text-align: center;
    margin-bottom: 70px;
    margin-top: -80px;
    color: #626262;

}
  
button {
    width: 162px;
    border: 1px solid #626262;
    background: inherit;
    font-size: 20px;
    color: #626262;
    padding: 17px 0;
    text-align: center;
}
