body {
    margin: 0;
    padding: 0;
}
.conteiner {
    width: 900px;
    margin: 0 auto;
    font-family: "Playfair Display";
    font-weight: normal;
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
    width: 154px;
    text-align: center;
    font-size: 0;
}
li:last-child {
    margin-right: 0;
}

a {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.02em;
    color: black;
}

ul li:not(:last-child) {
    margin-right: 10px;
}

a:hover, a:focus {
    color: rgb(37, 180, 245);
}


.site-navigation {
    width: 900px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 72px 0 100px;
}

.row {
    display: inline-block;
    width: 420px;
    margin-right: 56px;
}
.row:last-child {
    margin-right: 0;
}

img {
    display: block;
    widows: 420px;
    height: 280px;
    margin-bottom: 30px;
}
.block {
    margin-bottom: 120px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: -0.07em;
    color:rgb( 180, 173, 158);
    margin: 0 0 18px 0;
    font-weight: normal;
}

h2 {
    font-size: 30px;
    margin: 0 0 24px 0;
    color: rgb( 98, 98, 98 );
    font-weight: normal;
    text-align: justify;
    letter-spacing: 0.01em;
}

p {
    line-height: 24px;
    font-size: 14px;
    color: rgb( 98, 98, 98 );
    letter-spacing: -0.02em;
    text-align: justify;
}
  
button {  
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    display: block;
    margin: 0 auto;
    width: 164px;
    border: 1px solid #626262;
    background: inherit;
    line-height: 22px;
    font-size: 22px;
    letter-spacing: -0.04em;
    color: rgb( 98, 98, 98 );
    padding: 17px 0;

}

footer {
    margin-top: 70px;
}