html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

*, *::after,*::before {
    box-sizing: inherit;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}


.page-nav {
    padding: 34px 0 122px;
}

.conteiner {
    width:1110px;
    margin: 0 auto;
}
  
.logo {
    float: left;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 32px;
    font-family: "Roboto Light", arial;
    letter-spacing: -0.02em;
}

.logo::first-letter {
    color: #1abc9c;
    font-family: "Roboto";
    font-weight: 900;
}

.nav-item {
    float: right;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "OpenSans", arial;
    font-weight: bold;
}

.nav-item li{
    padding: 6px 13px;
    float: right;
    display: block;
    letter-spacing: 0.02em;
}

.nav-item li:first-child {
    padding-right: 0;
}

a {
    color: black;
    text-decoration: none;
    }

.nav-item :hover, 
.nav-item :focus {
    color: aqua;
}

.cart {
    float: left;
    margin-bottom: 96px;
}

h2 {
    margin: 0;
    font-family: "Roboto Black", arial;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 48px;
    margin-bottom: 112px;
    letter-spacing: -0.07em;
}

h2::after {
    width: 164px;
    height: 7px;
    border: 1px solid #4ec6ab;
    background:#4ec6ab;
    position: relative;
    top: 20px;
    left: 474px;
}

.block {
    background: #e8effc;
    width: 255px;
    height: 320px;
    display: block;
    float: left;
    margin: 0 30px 32px 0;
    font-size: 0;
}

.block:nth-child(4n+1) {
    margin-right: 0;
}

.block:nth-last-child(-n+4) {
    margin-bottom: 0;
}

img {
    width: 255px;
    height: 280px;
}

.name-price {
    float: left;
    width: 200px;
    height: 40px;
    border: 0;
    background: #323232;
    color: white;
    text-transform: uppercase;
    text-align: start;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.02em;
    padding: 6px 14px;
}
  
.price {
    float: right;
    width: 55px;
    height: 40px;
    border: 0;
    background: #8c8c8c;
    font-size: 18px;
    font-family: "Roboto black", sans-serif;
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 6px;
}

.block:hover .name-price{
    background:#1abc9c;
}

.block:hover .price {
    background: #7fd9c7;
}
  
.news {
    width: inherit;
    float: left;
    margin-bottom: 70px;
}

.news-name {
    margin-bottom: 100px;
    /* letter-spacing:  */
}
.news-img {
    width: 350px;
    height: 262px;
    margin-bottom: 10px;
}

.news-block {
    font-size: 0;
    width: 350px;
    float: left;
    margin-right: 30px;
}

.news-block:last-child {
    margin-right: 0;
}

h3 {
    margin: 0;
    font-family: "OpenSans", arial;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 26px;
    letter-spacing: -0.02em;
}

h3::after {
    width: 136px;
    height: 3px;
    border: 1px solid #4ec6ab;
    background:#4ec6ab;
    position: relative;
    top: 8px;
}

p {
    margin: 0 0 12px;
    font-family: "OpenSans", arial;
    font-size: 14px;
    line-height: 26px;
}

.button {
   width: 160px;
   height: 50px;
   border-radius: 3px;
   background: #4ec6ab;
   border: 0;
   color: white;
   font-size: 16px;
   font-family: "OpenSans", arial;
   font-weight: 300;
   line-height: 26px;
   text-align: center;
    letter-spacing: -0.02em;
}
